.dashboard__page {
    padding: 30px 50px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #222;
    margin-bottom: 45px;
}




