.loadError {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.loadError h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(245, 38, 38);
}